a,
input,
button {
  cursor: pointer;
}

.main-config {
  margin: 20px 30px;
  flex-wrap: wrap;
}
.main-config-dominioSelect {
  width: 24%;
}
  .header-cadastrar-btn {
    border: white;
    background-color: white;
    font-size: 1.1rem;
    color: #5e7e0f;
  }
    .header-cadastrar-btn i {
      margin-right: 0.4vw;
      color: #5e7e0f!important;
    }
.form-incluir-modelo-aplicado {
  width: 100%;
}
.main-config-instituicao,
.main-config-metodo,
.main-config-inputLabels {
  width: 33%;
}

.main-config-inputLabels label {
  color: #000000c2;
}

.main-config-priorizacao {
  margin: 15px 0 0 0;
}
.main-config-priorizacao div {
  margin-top: 10px;
}
.main-config select,
.main-config input,
.input-artefato {
  font-size: 14px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid var(--cinza-borda-input);
  border-radius: 5px;
  margin-right: 15px;
}
.input-artefato {
  margin-left: 10px;
  border: 1px solid #8EB729;
}
.main-config-mini-input {
  width: 130px;
}
.main-config-btns {
  align-self: start;
}
.main-config-btns button {
  padding: 8px 20px!important;
  font-size: 14px!important;
}

.main-utlizar-modelo {
  margin: 30px!important;
}

.dimencao, .processo, .resultado {
  margin-bottom: 15px;
  max-width: 100%;
}
.processo, .resultado {
  margin-top: 20px;
  width: 100%;
}
  .expandable-header {
    border-bottom: 1px solid var(--cinza-borda-input);
  }
    .expandable-header-left {
      margin-bottom: 10px;
      max-width: 100%;
      text-align: justify;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
      .expandable-header-left h3 {
        font-size: 18px;
        user-select: none;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
        line-height: 1.4;
        max-height: 25px;
        overflow: hidden;
        transition: max-height 0.3s ease;
      }
      .expandable-header-left h3 strong {
        color: #8eb729;
      }
      .expandable-header-left i {
        color: #a5be64;
        margin-right: 8px;
      }
    .expandable-header-btn, .file-galery-item-btn {
      background-color: transparent;
      padding: 5px;
      cursor: pointer;
      margin-left: 20px;
    }

  .expandable-main {
    margin-left: 20px;
  }

    .file-galery-wrapper {
      background-color: var(--branco-bg-details);
      border: 1px solid var(--branco-secondary);
      margin-left: -20px;
      position: relative;
      padding-top: 10px;
    }
      .file-galery-wrapper-title {
        position: absolute;
        top: -10px;
        left: 7px;
        color: rgb(138, 138, 138);
        font-weight: 600;
        background: rgb(2,0,36);
        background: -moz-linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(0,0,0,0) 100%);
        background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
      }
      .file-galery {
        margin: 15px 0;
      }
        .file-galery-item {
          padding-left: 15px;
        }

          .file-galery-item p {
            font-family: 18px;
            min-width: 250px;
            margin-right: 10px;
          }
          .file-galery-item select {
            padding: 4px 6px;
            margin-right: 5px;
            border: 1px solid var(--cinza-borda-input);
            font-size: 13px;
            border-radius: 5px;
          }
        /* \/ Input type=file */
        .file-galery-item {
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid rgb(237, 237, 237);
        }
        .file-galery-item input[type="file"]::file-selector-button {
          padding: 6px 10px;
          background: rgb(244, 251, 241);
          border: 1px solid var(--verde-default)!important;
          color: var(--verde-btn-font);
          font-weight: 600;
        }
        .file-galery-item label {
          margin-left: 20px;
        }
        .file-galery-item button[type="submit"],
        .main-config-btns button {
          border-radius:8px;
          padding: 6px 10px;
          background: rgb(165,192,86);
          background: linear-gradient(180deg, rgba(165,192,86,1) 0%, rgba(125,145,64,1) 100%);
          color: white;
        }

.popup-background {
  background-color: rgba(0, 0, 0, 0.288);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.popup-background > div {
  height: fit-content;
  width: fit-content;
}

  .popup-cadastrar-dominio {
    background-color: white;
    border-radius: 12px;
    min-width: 500px;
    min-height: 150px;
    padding: 0 5px;
  }
    .popup-title {
      height: 20%;
      width: 100%;
      margin-bottom: 15px;
      border-bottom: 1px solid rgb(236, 236, 236);
    }
      .popup-title h2 {
        padding: 16px 13px 0 13px;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 5px;
      }
    .popup-body {
      padding: 0 13px 18px 13px;
    }
      .popup-body label {
        margin-bottom: 8px;
        font-size: 16px;
        display: block;
      }
      .popup-body input {
        height: 30px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        display: block;
      }
      input[type='text']:focus,
      textarea:focus {
        outline: none;
        padding-left: 10px;
        border: 1px solid #66831d;
      }
    
      .form-btn {
        align-self: baseline;
        margin-top: 20px;
      }
        .form-btn button {
          font-size: 15px;
          border-radius: 8px;
          padding: 7px 15px;
          background: rgb(165,192,86);
          background: linear-gradient(180deg, rgba(165,192,86,1) 0%, rgba(125,145,64,1) 100%);
          color: white;
        }
        .form-btn a {
          color: rgb(118, 136, 63);
          font-size: 16px;
          margin-right: 12px;
        }

.select-nivel-maturidade {
  font-weight: 600; 
  font-size: 13px;
  padding: 3px 8px; 
  margin-left: 15px;
  min-width: 25px!important; 
  color: #5c8b10; 
  border: 1px solid #5c8b10;
  border-radius: 3px;
  background-color: #f2f7eb;
}

.descricao-artefato {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  width: fit-content;
  margin-right: 20px;
}