    </div>
    <button onclick="showModalInfos()" class="header-title-info d-flex-center-center h-100">
        <%= image_tag('icons/info.svg', width: '25px', height: '25px') %>
    </button>
    </div>
    <div class="header-links d-flex-center-start h-100 w-fit">
    <div class="header-links-wrapper d-flex-center-center">
        <div class="header-link d-flex-center-start h-fit">
        <%= image_tag('icons/folder_full.svg', width: '20px', height: '20px') %>
        <a href="#">Modelo Salvo 01</a>
        </div>
        <div class="header-link d-flex-center-start h-fit">
        <%= image_tag('icons/folder_full.svg', width: '20px', height: '20px') %>
        <a href="#">Modelo Salvo 02</a>
        </div>
        <div class="header-link d-flex-center-start h-fit">
        <%= image_tag('icons/folder_full.svg', width: '20px', height: '20px') %>
        <a href="#">Modelo Salvo 03</a>
        </div>
    </div>
    </div>
</header>
<!-- #Fim do cabeçalho do main -->


<!-- #Início do conteúdo central -->
<section class="main-content">
    <form method="post" action="/cadastroMaturidade/incluir_maturidade" class="d-flex-center-between w-100">
        <!-- #Input "Nome"  -->
        <div class="main-name d-flex-stretch-start flex-column w-100">
        <label for="idName">Nome</label>
        <input type="text" id="idName" name="nome"/>
        </div>

        <!-- #Input "descrição"  -->
        <div class="main-desc d-flex-stretch-start flex-column w-100">
        <label for="idDesc">Descrição</label>
        <textarea  id="idDesc" name="descricao"></textarea>
        </div>

        <!-- #Input "Nível do Modelo"  -->
        <div class="main-level w-100">
        <div class="form-title-wrapper w-100 h-fit">
            <h3>Selecione o tipo de nível do modelo</h3>
        </div>
        <input type="radio" id="tipo_nivel_numerico" name="tipo_nivel" value="1" checked> 
            <label for="tipo_nivel_numerico">Numérico</label>
        <input type="radio" id="tipo_nivel_alfanumerico" name="tipo_nivel" value="2"> 
            <label for="tipo_nivel_alfanumerico">Alfanumérico</label>
        </div>

        <!-- #Input "Range do Nível do Modelo"  -->
        <div class="main-range w-100">
        <div class="form-title-wrapper w-100 h-fit">
            <h3>Escolha a range do nível do modelo</h3>
        </div>
        <div class="main-range-wrapper d-flex-stretch-start">
            <input type="text" name="tipoNivel" class="tipo_nivel hidden" value="1"><br>  <!-- #Hidden-->
            <!-- #Menor Range  -->
            <div class="form-range-control d-flex-stretch-start flex-column w-25">
            <label for="idLowRange">Menor Nivel</label>
            <input type="text" id="idMenorNivel" name="menorNivel" />
            </div>
            <!-- #Maior Range  -->
            <div class="form-range-control d-flex-stretch-start flex-column w-25">
            <label for="idHighRange">Maior Nivel</label>
            <input type="text" id="idMaiorNivel" name="maiorNivel" />
            </div>
        </div>
        </div>

        <!-- #Input "Resultados esperados"  -->
        <div class="main-result w-100">
        <div class="form-title-wrapper w-100 h-fit">
            <h3>O modelo vai possuir resultados esperados ?</h3>
        </div>
        <input type="radio" id="escolha_resultado_sim" name="resultado_escolha" value="1" checked>
            <label for="escolha_resultado_sim">Não</label>
        <input type="radio" id="escolha_resultado_nao" name="resultado_escolha" value="2"> 
            <label for="escolha_resultado_nao">Sim</label>
        <input type="text" name="resultadoEscolha" class="resultado_escolha hidden" value="1">  <!-- #Hidden-->
        </div>

        <!-- #Input "Quem usará o nível"  -->
        <div class="main-who  w-100 hidden" id="nivel_escolha">  
        <div class="form-title-wrapper w-100 h-fit">
            <h3>Escolha quem usará o nivel de maturidade:</h3>
        </div>
        <input type="radio" id="nivel_processo" name="nivel_escolha" value="1" checked> 
            <label for="nivel_processo">Processos</label>
        <input type="radio" id="nivel_resultado_esperado" name="nivel_escolha" value="2"> 
            <label for="nivel_resultado_esperado">Resultados Esperados</label>
        <input type="text" name="nivelEscolha" class="nivel_escolha hidden" value="1">  <!-- #Hidden-->
        </div>

        
        <div class="main-button d-flex-center-center w-100">
        <button type="submit">Cadastrar</button>
        </div>

    </form>

</section>
<!-- #Fim do conteúdo central -->
</main>
<!-- #Início do Main -->


<section id="infos_modal" class="infos-modal d-flex-center-center hidden">
<div class="infos-modal-main">
    <div class="infos-modal-main-header d-flex-center-between">
    <h1>Ajuda - Cadastrar Modelo</h1>
    <button onclick="showModalInfos()" class="infos-modal-main-header-close">X</button>
    </div>
    <div class="infos-modal-main-center">
    <h3><strong>01 - </strong>Dados Principais:</h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod posuere arcu, nec egestas dolor consequat at. Donec nec ligula feugiat, porta leo vulputate, dictum leo. Cras sodales, nunc eu congue aliquam, quam sapien mollis nunc, venenatis suscipit arcu nibh ac ipsum. Quisque id lacus elit. Cras sagittis sollicitudin lobortis. Donec nunc mauris, condimentum id tincidunt id, rutrum sed libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sollicitudin gravida euismod. Donec quam odio, fermentum tincidunt faucibus ac, suscipit non augue. Nunc ultricies leo ut arcu consectetur, id tincidunt odio sodales. Fusce in diam mauris. Vestibulum mollis, magna a vulputate pretium, quam ante tempus nisl, id venenatis est neque vitae est. Nullam tempor blandit justo, ac dignissim enim blandit non.
    </p>
    <h3><strong>02 - </strong>Escolhendo o modelo a ser utilizado:</h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod posuere arcu, nec egestas dolor consequat at. Donec nec ligula feugiat, porta leo vulputate, dictum leo. Cras sodales, nunc eu congue aliquam, quam sapien mollis nunc, venenatis suscipit arcu nibh ac ipsum. Quisque id lacus elit. Cras sagittis sollicitudin lobortis. Donec nunc mauris, condimentum id tincidunt id, rutrum sed libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sollicitudin gravida euismod. Donec quam odio, fermentum tincidunt faucibus ac, suscipit non augue. Nunc ultricies leo ut arcu consectetur, id tincidunt odio sodales. Fusce in diam mauris. Vestibulum mollis, magna a vulputate pretium, quam ante tempus nisl, id venenatis est neque vitae est. Nullam tempor blandit justo, ac dignissim enim blandit non.
    </p>
    <h3><strong>03 - </strong>Tipo de nível de maturidade:</h3>
    <hr>
    <p>
        Nam imperdiet elementum felis, eget dictum velit ullamcorper quis. Aenean dui justo, accumsan at nulla non, semper dignissim metus. Nam dictum augue et nisl varius tempus. Duis vel maximus massa. Donec lacinia quam id interdum porta. Maecenas ultricies, enim ac ultricies consectetur, mi urna viverra mauris, quis vestibulum felis magna luctus massa. Donec semper lobortis tempor. Morbi hendrerit, ipsum id aliquet dapibus, magna nisi iaculis elit, sed pulvinar libero augue vel ex. Proin iaculis est lacus, a ultrices arcu volutpat non. Integer sodales metus et eros fermentum, eget eleifend augue molestie. Pellentesque id pulvinar sapien. Vestibulum orci nisi, venenatis et arcu at, vehicula viverra mauris.
    </p>  
    <h3><strong>04 - </strong>Range do nível do modelo:</h3>
    <hr>
    <p>
        Donec vulputate quam neque, nec egestas nibh maximus pharetra. Donec ut lorem est. Phasellus libero magna, facilisis a rutrum vel, dapibus nec turpis. Duis congue pretium tortor, vel elementum quam blandit in. Pellentesque metus justo, porttitor vitae feugiat eget, aliquet id purus. Proin commodo efficitur nunc volutpat luctus. Fusce in purus sodales, dictum enim quis, malesuada ex. In sit amet ornare justo. Morbi feugiat ligula eget euismod porttitor. Quisque est odio, varius et accumsan consectetur, euismod id erat. Etiam ullamcorper ultricies ligula at malesuada.
    </p>
    <h3><strong>05 - </strong>Resultados esperados:</h3>
    <hr>
    <p>
        Vivamus aliquam dui vel venenatis congue. Morbi eu luctus felis. Curabitur condimentum, risus sed feugiat ullamcorper, justo nulla varius enim, in imperdiet ex mauris et erat. Vestibulum malesuada interdum blandit. Morbi dictum erat sit amet nibh fermentum pharetra. Morbi fermentum augue lorem, at scelerisque mi lacinia ut. Fusce ut consequat lectus. Pellentesque viverra nec purus eget sodales. Fusce sodales turpis in ligula tincidunt vestibulum. In sed lectus quam. Vivamus vel tellus nisl. Suspendisse semper lacus tellus, at vulputate ipsum accumsan nec. Etiam ac leo lectus.
    </p>
    <h3><strong>06 - </strong>Nivel de maturidade:</h3>
    <hr>
    <p>
        Vivamus aliquam dui vel venenatis congue. Morbi eu luctus felis. Curabitur condimentum, risus sed feugiat ullamcorper, justo nulla varius enim, in imperdiet ex mauris et erat. Vestibulum malesuada interdum blandit. Morbi dictum erat sit amet nibh fermentum pharetra. Morbi fermentum augue lorem, at scelerisque mi lacinia ut. Fusce ut consequat lectus. Pellentesque viverra nec purus eget sodales. Fusce sodales turpis in ligula tincidunt vestibulum. In sed lectus quam. Vivamus vel tellus nisl. Suspendisse semper lacus tellus, at vulputate ipsum accumsan nec. Etiam ac leo lectus.
    </p>
    </div>
    <div class="infos-modal-main-footer d-flex-center-end">
    <button onclick="showModalInfos()" class="infos-modal-main-footer-voltar">Voltar</button>
    </div>
</div>
</section>


<!--# Função de expandir e retrair opção de resultados esperados no cadastro de modelo:-->
<script>
var escolha_sim = document.getElementById("escolha_resultado_sim");
var escolha_nao = document.getElementById("escolha_resultado_nao");
var nivel_processo = document.getElementById("nivel_processo");
var nivel_resultado_esperado = document.getElementById("nivel_resultado_esperado");
var tipo_nivel_numerico = document.getElementById("tipo_nivel_numerico");
var tipo_nivel_alfanumerico = document.getElementById("tipo_nivel_alfanumerico");

escolha_sim.addEventListener("click", function () {
    if (escolha_sim.checked) {
    resultado_escolha(1);
    }
})
escolha_nao.addEventListener("click", function () {
    if (escolha_nao.checked) {
    resultado_escolha(2);
    }
})
nivel_processo.addEventListener("click", function () {
    if (nivel_processo.checked) {
    nivel_escolha(1);
    }
})
nivel_resultado_esperado.addEventListener("click", function () {
    if (nivel_resultado_esperado.checked) {
    nivel_escolha(2);
    }
})
tipo_nivel_numerico.addEventListener("click", function () {
    if (tipo_nivel_numerico.checked) {
    tipo_nivel(1);
    }
})
tipo_nivel_alfanumerico.addEventListener("click", function () {
    if (tipo_nivel_alfanumerico.checked) {
    tipo_nivel(2);
    }
})
function resultado_escolha(escolha) {
    if (escolha == "2") {
    document.getElementById("nivel_escolha").classList.remove("hidden");
    document.getElementsByClassName("resultado_escolha")[0].value = 2;
    } else if (escolha == "1") {
    document.getElementById("nivel_escolha").classList.add("hidden");
    document.getElementById("nivel_processo").checked = true;
    document.getElementById("nivel_resultado_esperado").checked = false;
    document.getElementsByClassName("nivel_escolha")[0].value = 1;
    document.getElementsByClassName("resultado_escolha")[0].value = 1;
    }
}
function nivel_escolha(escolha) {
    if (escolha == "2") {
    document.getElementsByClassName("nivel_escolha")[0].value = 2;
    } else if (escolha == "1") {
    document.getElementsByClassName("nivel_escolha")[0].value = 1;
    }
}

function tipo_nivel(escolha) {
    if (escolha == "2") {
    document.getElementsByClassName("tipo_nivel")[0].value = 2;
    } else if (escolha == "1") {
    document.getElementsByClassName("tipo_nivel")[0].value = 1;
    }
}
</script>